@import 'mixins';

// Adds padding to the bottom of a file name
@mixin file-name-padding($padding: 3px) {
  margin: 0 0 $padding 0;
}

&-body {
  @include disable-select();

  flex: 1 1 150px;

  .flexbox-block {
    border: none;
  }
}

&-file__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

&-file__name {
  @include cursor-pointer();
  @include file-name-padding();

  flex: none;

  &:hover {
    background-color: $button-bg-hover;
  }
}

&-file-name__padding {
  width: 10px;
}

&-file-name__content {
  font-size: 14pt;
}

&-file-list__container {
  @include file-name-padding();
}
