@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

$color-primary: #000;
$color-disabled: #666;


$button-bg-primary: #AAA;
$button-bg-active: #BBB;
$button-bg-disabled: #CCC;
$button-bg-hover: #999;
