@import 'const';
@import 'flexbox';

// lectern namespace
.lt {
  @import 'lectern';
}

// editor namespace
.et {
  @import 'editor';
}

// filetree namespace
.ft {
  @import 'filetree';
}



/*  Body
    1. Wrap the site into one page without scrolling
 */
body{
  font-family: "Slabo 27px", serif;
  color: $color-primary;
  background-color: $background;
  font-size: 14pt;

  // 1
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 800px;
}

button{
  font-family: "Slabo 27px", serif;
}

a {
  &:link,
  &:active,
  &:visited{
    color: #ddd;
  }
  &:hover{
    color:#fcc;
  }
}


// Mozilla puts two outlines and only lets customizing one. Remove the Mozilla-specific second one.
a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
  outline: 0;
}


// Border and padding computed in width/height automatically
div {
  box-sizing: border-box;
}