@import 'const';
@import 'flexbox';
@import 'lectern';

/*  Body
    1. Wrap the site into one page without scrolling
 */
body{
  font-family: "Slabo 27px", serif;
  color: $color-primary;
  background-color: $background;
  font-size: 14pt;

  // 1
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 800px;
}

a {
  &:link,
  &:active,
  &:visited{
    color: #ddd;
  }
  &:hover{
    color:#fcc;
  }
}
